* {
	box-sizing: border-box;
}

html {
	font-family: system-ui;
}

.intersection {
	aspect-ratio: 1.83;
	background-image: url('/intersection.jpg');
	background-position: center;
	background-repeat: no-repeat;
	margin: auto;
	position: relative;
	width: 900px;
}

.traffic-light-tooltip {
	position-area: block-end;
	margin-block-start: 2px;

	padding: 8px;
	border-radius: 6px;
	background: #271717;
	color: whitesmoke;
	box-shadow: 1px 1px 3px #999;
	border: none;
}

/* If a tooltip is already displayed,
don't make the user wait to display another tooltip. */
body:has(button:interest-source) button {
	interest-delay-start: 0s;
}

.traffic-light-button {
	--button-width: 20px;

	all: unset;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	width: var(--button-width);

	&:focus {
		outline: 3px solid #ffba39;
		outline-offset: 2px;
	}
}

.traffic-light-details {
	position-area: block-start;
	margin-block-end: 2px;

	width: 200px;
	padding: 8px;
	border-radius: 6px;
	background: #333;
	color: #fff;
	box-shadow: 1px 1px 3px #999;
	border: none;

	& .traffic-light-label {
		margin-block-start: 0;
	}

	& .traffic-light-state {
		margin-block-end: 0;
	}
}

.traffic-light {
	&.red-state,
	&.red-left-arrow-state {
		& .traffic-light-details .state-text {
			color: #ff7777;
		}
	}
	&.yellow-state,
	&.yellow-left-arrow-state,
	&.flashing-yellow-left-arrow-state {
		& .traffic-light-details .state-text {
			color: #ffbd43;
		}
	}
	&.green-state,
	&.green-left-arrow-state {
		& .traffic-light-details .state-text {
			color: #00f100;
		}
	}
}

.traffic-light.standard-type {
	& .traffic-light-button {
		aspect-ratio: 50 / 151;
		background-image: url('/sprites/ryg-50.png');
		background-size: 60px;
	}

	&.red-state .traffic-light-button {
		background-position: 0 0;
	}
	&.yellow-state .traffic-light-button {
		background-position: calc(-1 * var(--button-width)) 0;
	}
	&.green-state .traffic-light-button {
		background-position: calc(-2 * var(--button-width)) 0;
	}
}

.traffic-light.left-arrow-type {
	& .traffic-light-button {
		aspect-ratio: 50 / 205;
		background-image: url('/sprites/left-50.png');
		background-size: 100px;
	}

	&.red-left-arrow-state .traffic-light-button {
		background-position: 0 0;
	}
	&.yellow-left-arrow-state .traffic-light-button {
		background-position: calc(-1 * var(--button-width)) 0;
	}
	&.flashing-yellow-left-arrow-state .traffic-light-button {
		animation: flashing-yellow-left-arrow 1.2s steps(2, jump-none) infinite;
	}
	&.green-left-arrow-state .traffic-light-button {
		background-position: calc(-4 * var(--button-width)) 0;
	}
}

@keyframes flashing-yellow-left-arrow {
	0% {
		background-position: calc(-2 * var(--button-width)) 0;
	}
	100% {
		background-position: calc(-3 * var(--button-width)) 0;
	}
}
