* {
	box-sizing: border-box;
}

html {
	font-family: system-ui;
}

.traffic-light-tooltip {
	position-area: block-end;

	padding: 8px;
	border-radius: 6px;
	background: #271717;
	color: whitesmoke;
	box-shadow: 1px 1px 3px #999;
	border: none;
}

/* If a tooltip is already displayed,
don't make the user wait to display another tooltip. */
body:has(button:interest-source) button {
	interest-delay-start: 0s;
}

.traffic-light-button {
	--button-width: 25px;

	all: unset;
	cursor: pointer;
	display: inline-block;
	width: var(--button-width);

	&:focus {
		outline: 3px solid #ffba39;
		outline-offset: 2px;
	}
}

.traffic-light {
	& .traffic-light-button {
		--image-width: 50px;

		aspect-ratio: 50 / 151;
		background-image: url('/sprites/ryg-50.png');
		background-repeat: no-repeat;
		background-size: calc(var(--image-width) + var(--button-width));
	}
	&.red-state .traffic-light-button {
		background-position: 0 0;
	}
	&.yellow-state .traffic-light-button {
		background-position: calc(-1 * var(--button-width)) 0;
	}
	&.green-state .traffic-light-button {
		background-position: calc(-2 * var(--button-width)) 0;
	}
}
